@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E6DBCD;
    height: 100px;
    margin-bottom: 50px;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav h1 {
    font-family: "Unica One", sans-serif;
    font-size: 18px;
    color: #7B6253;
    font-weight: 500;
}

.nav img {
    max-width: 100px;
    padding-right: 10px;
}

#img_favorite {
    padding-top: 15px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px;
    line-height: 50px;
}

section h1 {
    font-family: "Syne", sans-serif;
    font-size: 57px;
    color: #3D3C3C;
    padding-bottom: 30px;
}

section p {
    font-size: 16px;
    font-family: "Syne", sans-serif;
    color: #676767;
}

#pesquisa {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: start;
}

#paragrafo {
    padding-bottom: 20px;
}

input {
    font-family: "Syne", sans-serif;
    margin-bottom: 30px;
    color: black;
    font-weight: bolder;
    background-color: #E6DBCD;
    width: 500px;
    height: 40px;
    border-radius: 40px;
    border-color: #3D3C3C;
    padding-left: 10px;
}

.icon-input {
    background-image: url(assets/images/MAGNIFYING_GLASS.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}


#pesquisa button {
    font-family: "Syne", sans-serif;
    border-radius: 10px;
    height: 50px;
}

#pesquisa button:hover {
    background-color: #e8e1db;
    animation-duration: 2s;
}

#button-explore {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}

main h1 {
    font-family: "Unica One", sans-serif;
    color: #7B6253;
    font-weight: 400;
    font-size: 40px;
}

h3 {
    font-family: "Syne", sans-serif;
    color: #7B6253;
    font-size: 16px;
    font-weight: 200;
}

a {
    text-decoration: none;
}

a h3:hover {
    color: #8b7b71;
}

#title-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E6DBCD;
    margin: 0;
    max-height: 150px;
    margin-bottom: 100px;
}

#title-main h1 {
    padding-top: 50px;
}

#explorar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    align-items: center;
    margin: 20;
}

div {
    display: flex;
    flex-direction: row;
    height: 200;
    width: 800;
    margin: 47px;
    align-items: center;

}

#maincontainer {
    border: 2px dashed black;
    border-radius: 20px;
}


.container img {
    max-width: 100px;
}

.column {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #E6DBCD;
    color: #7B6253;
    border-radius: 30px;
    width: 150px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #e8e1db;
    animation-duration: 2s;
}



p {
    font-family: "Unica One", sans-serif;
    font-size: 18px;
}

#title-categorias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E6DBCD;
    margin: 0;
    max-height: 150px;
    margin-top: 100px;
}

#title-categorias img {
    padding-bottom: 30px;
    padding-right: 10px;
}

#title-categorias div {
    padding-top: 30px;
}

#buttons-categoria {
    display: flex;
    flex-direction: column;
}

#buttons-categoria button {
    height: 60px;
    width: 300px;
    border-radius: 10px;
    font-family: "Syne", sans-serif;
    font-weight: 400;
}

#buttons-categoria button:hover {
    background-color: #e8e1db;
    animation-duration: 2s;
}

#buttons-row-one {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#buttons-row-two {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#border-footer {
    border-style: dashed;
    border-color: #676767;
}

#footer-redes h3 {
    font-family: "Syne", sans-serif;
    
}